.intern {
  padding: 2rem;
  background-color: #89cff3;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  height: fit-content;
}

.intern p {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: larger;
  margin-right: 30px;
}
/* internStyle.css */
.intern {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.5s ease-out;
}

.intern.animate {
  animation: slideInLeftToRight 1s ease-out forwards;
}

@keyframes slideInLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.intern img {
  width: 400px;
}

/* dark */
body.dark .intern {
  background-color: #1e293b;
  color: #f8fafc;
  border-color: #334155;
}

/* mobile */
@media screen and (max-width: 520px) {
  .intern {
    background-color: #89cff3;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    height: fit-content;
    margin: 10px;
  }
  .intern p {
    font-size: 20px;
  }
  .intern img {
    width: 300px;
    height: 300px;
  }
}
