.intern {
  padding: 2rem;
  background-color: #f6c9f0;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.intern.reverse {
  flex-direction: row-reverse; /* Even child reversed */
}

.intern p {
  flex: 1;
  font-size: larger;
  margin-right: 30px;
}

.intern img {
  width: 400px;
  flex-shrink: 0;
}

/* animation */
.animated-box {
  position: relative;
  opacity: 0;
  transform: translateX(-100px);
  animation: slideLeftToRight 1s ease-out forwards;
}

@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-box-img {
  position: relative;
  opacity: 0;
  transform: translateX(100px);
  animation: slideRightLeftTo 1s ease-out forwards;
}

@keyframes slideRightLeftTo {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* dark */
body.dark .intern {
  background-color: #1e293b;
  color: #f8fafc;
  border-color: #334155;
}

/* @media (min-width: 521px) and (max-width: 780px) {
  .intern p {
    flex: 1;
    font-size: 12px;
    margin-right: 30px;
  }
} */
/* mobile */
@media screen and (max-width: 520px) {
  .intern {
    flex-direction: column !important; /* Always stacked on mobile */
    text-align: center;
  }

  .intern p {
    font-size: 20px;
    margin: 0;
  }

  .intern img {
    width: 300px;
    height: 300px;
  }
}
